body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.stage {
    height: 350px;
    width: 250px;
}

.p {
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background: #D7BDEA;
    border-radius: 10px;
    font-family: Century Gothic;
    letter-spacing: 5px;
}

.div {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 4%;
    transition-duration: 0.2s;
}

.div:nth-child(odd) {
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
}

.div:nth-child(even) {
    transform: perspective(300px) rotateY(-45deg);
    box-shadow: 2px 2px 7px gray;
}

.div:hover {
    transform: rotateY(0);
    background: white;
    color: black;
    box-shadow: 0px 0px 0px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 100px;
    width: 100%;
    height: 60vh;
    background-image: url("../pichero/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    height: 20vh;
    background-color: #D7BDEA;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #000000;
}